@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoppinsRegular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
